#P1 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

In [ ]:
import pandas as pd  
import numpy as np  
np.random.seed(100)
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

1. Import the Auto MPG dataset with pandas.read_csv() using the dataset URL, use the attribute names as explained in the dataset description as the column names **(5pt)**, view the strings ‘?’ as the missing value, and whitespace (i.e., ‘\s+’) as the column delimiter. Print out the shape and first 5 rows of the obtained DataFrame. **(5pt)**

* Dataset source file:
http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
* Dataset description: http://archive.ics.uci.edu/ml/datasets/Auto+MPG
* To have reproducible results using Scikit-Learn in Jupyter Notebook for the training/testing, set the seed at the beginning of your notebook
https://www.mikulskibartosz.name/how-to-set-the-global-random_state-in-scikit-learn/

In [ ]:
names = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
mpg_data = pd.read_csv(url, sep='\s+', header=None, names=names, na_values = ['?'])

In [ ]:
mpg_data.shape

(398, 9)

In [ ]:
mpg_data.head()

    mpg  cylinders  displacement  ...  model_year  origin                   car_name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

2.	Delete the “car_name” column using .drop() method as it is irrelevant to the prediction. Print out a concise summary of the new DataFrame using .info() and check if NULL value exists in each column **(5pt)**

In [ ]:
mpg_data.drop(columns=['car_name'],inplace=True)
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [ ]:
mpg_data.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model_year      False
origin          False
dtype: bool

3.	Replace the NULL value with the mean value of the column using .fillna(). Print out the concise summary of the new DataFrame and recheck if NULL value exists in each column **(5pt)**

In [ ]:
#from sklearn.impute import SimpleImputer 
#imp = SimpleImputer(strategy='mean')
#mpg_data = imp.fit_transform(mpg_data)
#
#mpg_data.dropna(inplace=True)
mpg_data.fillna(mpg_data.mean(),inplace = True)

Find out the data type of each column and convert it into float or int type

In [ ]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

4.	For the ‘origin’ column with categorical attribute, replace it with the columns with numerical attributes using one-hot encoding (you can use either get_dummies() in Pandas or OneHotEncoder in Scikit-Learn). Print out the first 5 rows of the newly obtained DataFrame. **(10pt)**
	
	a.	https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/

In [ ]:
#Use Pandas for One-Hot Encoding
mpg_data_new = pd.get_dummies(mpg_data, columns=["origin"])

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# x = mpg_data['origin'].values
# x = x.reshape(-1, 1)
# y = OneHotEncoder().fit_transform(x).toarray()
# z = pd.DataFrame(y, columns = ['orgin_1', 'origin_2', 'origin_3'])
# print(z)

In [ ]:
mpg_data_new.head()

    mpg  cylinders  displacement  ...  origin_1  origin_2  origin_3
0  18.0          8         307.0  ...         1         0         0
1  15.0          8         350.0  ...         1         0         0
2  18.0          8         318.0  ...         1         0         0
3  16.0          8         304.0  ...         1         0         0
4  17.0          8         302.0  ...         1         0         0

[5 rows x 10 columns]

5.	Learn a linear regression model (fit_intercept=True) to predict the “mpg” column from the remaining columns in the obtained DataFrame of Step 4. 

  a.	Separate the “mpg” column from other columns and view it as the label vector and others as the feature matrix **(5pt)**
  
  b.	Split the data into a training set (80%) and testing set (20%) using train_test_split and print out their shapes **(5pt)**

In [ ]:
X_col = mpg_data_new.columns.drop('mpg')
X = mpg_data_new[X_col]
y = mpg_data_new['mpg']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((318, 9), (80, 9), (318,), (80,))

c.	Train the model using the training set and print out the coefficients of the model **(5 pt)**

In [ ]:
regr = LinearRegression()
regr.fit(X_train, y_train)
coeff_df = pd.DataFrame(regr.coef_, index = X_col, columns=['Coefficient'])
coeff_df

              Coefficient
cylinders       -0.331698
displacement     0.022054
horsepower      -0.011971
weight          -0.007046
acceleration     0.082843
model_year       0.810804
origin_1        -1.729786
origin_2         0.802458
origin_3         0.927328

d.	Use the learned model to predict on the test set and print out the mean squared error of the predictions **(5pt)**

In [ ]:
y_pred = regr.predict(X_test)
print("Mean squared error:", mean_squared_error(y_test, y_pred))

Mean squared error: 8.8011547437855

# P2 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

1. Import the red wine dataset with pandas.read_csv() using the dataset URL, use the semi-colon as the column delimiter, and print out both the first five rows and a concise summary of the obtained DataFrame. **(10 pt)**
	
	a.	Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
	
	b.	 Dataset description: http://archive.ics.uci.edu/ml/datasets/wine+quality

	c.   To have reproducible results using Scikit-Learn in Jupyter Notebook for the training/testing, set the seed at the beginning of your notebook
https://www.mikulskibartosz.name/how-to-set-the-global-random_state-in-scikit-learn/

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(100)

dataset = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=';')
dataset.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

2. Suppose we want to predict the quality of wine from other attributes. Divide the data into a label vector and a feature matrix. Then split them into a training set (80%) and testing set (20%) using train_test_split. **(5pt)**

In [ ]:
X = dataset.iloc[:, 0:11]
y = dataset.iloc[:, 11]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0)

3. Use the StandardScalar() in Scikit-Learn to preprocess the feature matrices of both training set and testing set. Note that the testing set can only be scaled by the mean and standard deviation values obtained from the training set. **(5 pt)**

  a.	https://scikit-learn.org/stable/modules/preprocessing.html (Refer to the code examples when using MinMaxScalar() in Section 6.3.1.1)

In [ ]:
from sklearn.preprocessing import StandardScaler
feature_scaler = StandardScaler()
X_train = feature_scaler.fit_transform(X_train)
X_test = feature_scaler.transform(X_test)

4. Use the preprocessed training dataset to learn a classification model with RandomForestClassifier (with 300 trees) in Scikit-Learn. Use 5-fold cross-validation to train and cross-validate the model on the preprocessed training dataset. Print out the accuracies returned by the five folds as well as their average and standard deviation values. **(10 pt)**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=300, random_state=0)
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=5)
print(all_accuracies)

[0.62109375 0.64453125 0.66015625 0.6640625  0.67843137]

In [ ]:
print(all_accuracies.mean())
print(all_accuracies.std())

0.653655024509804
0.019534220026007233

5. Use GridSearchCV() to find and print out the best hyperparameter for the number of trees (try the following values: 100, 300, 500, 800, 1000 for ‘n_estimator’), ignoring the search for other hyperparameters. Also use 5-fold cross-validation during GridSearchCV. **(15 pt)**

In [ ]:
grid_param = {
    'n_estimators': [100, 300, 500, 800, 1000]
}

In [ ]:
from sklearn.model_selection import GridSearchCV
gd_sr = GridSearchCV(estimator=classifier,
                     param_grid=grid_param,
                     scoring='accuracy',
                     cv=5,
                     n_jobs=-1)

In [ ]:
gd_sr.fit(X_train, y_train)
best_parameters = gd_sr.best_params_
print(best_parameters)
best_result = gd_sr.best_score_
print(best_result)

{'n_estimators': 800}
0.6606893382352942

6. Find and print out the testing accuracy of the model obtained using the best hyperparameter value on the preprocessed testing dataset **(5 pt)**

In [ ]:
from sklearn.metrics import accuracy_score
#### Method 1 ####
#model = gd_sr.best_estimator_
#y_model = model.predict(X_test)
#accuracy_score(y_test, y_model)
#### Method 2 ####
#y_model = gd_sr.predict(X_test)
#accuracy_score(y_test, y_model)
#### Method 3 ####
gd_sr.score(X_test, y_test)

0.725